@{
    ViewData["Title"] = "FanClub";
}

<div class="text-center">
    <h1 class="display-4">Fan Club</h1>
    <p>Check your Rock knowledge</p>
    <a asp-controller="FanClub" asp-action="Quiz">The Rock Quiz</a>



</div>



   
    

