@{
    ViewData["Title"] = "Media";
}

<div class="text-center">
    <h1 class="display-4">Dwayne "The Rock" Johnson Media</h1>
    <p>More Media coming soon! </p>

    <a asp-controller="Media" asp-action="Resources">Resources</a>
   <br />
    <a asp-controller="Media" asp-action="Social">Social</a>

</div>

