@{
    ViewData["Title"] = "Resources";
}

<div class="text-center">
    <h1 class="display-4">Resources</h1>
    <p>The Rock's resources, print and other media coming soon!</p>

    <a asp-controller="Media" asp-action="Index">Media</a>

</div>

