@{
    ViewData["Title"] = "Social";
}

<div class="text-center">
    <h1 class="display-4">Social Media</h1>
    <p>The Rock's social media coming soon!</p>

    <a asp-controller="Media" asp-action="Index">Media</a>

</div>

