@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About Dwayne "The Rock" Johnson</h1>
    <p>About About Dwayne "The Rock" Johnson coming soon!</p>

    <a asp-controller="Home" asp-action="Index">Home</a>

</div>

