@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dwayne "The Rock" Johnson</h1>
    <p>The Most Electrifying Man in Sports Entertainment</p>


    <a asp-controller="Home" asp-action="About">About</a>
    <br />
    <a asp-controller="Home" asp-action="Stories">Stories</a>

</div>

